:root {

    --BackgroundSize: 1200px;
}

 body {

    background-image: url(fondo.PNG);
    background-repeat:repeat;    
    background-size: var(--BackgroundSize);

    animation: movingBackground 25s linear infinite;
 }

@keyframes movingBackground {

 0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
    
}