body {
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(fondo2.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}