/* Estilo base para el navbar */

/* Estilo base para el navbar */
.navbar {
    background: #bbe3f7;
    padding: 10px 0;
    display: flex; /* Utilizamos flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Espacio entre el logotipo y los enlaces */
    align-items: center; /* Alinea verticalmente el contenido */
    border-bottom: 2px solid #4CE4F9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilo para la lista de elementos del navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Estilo para los elementos de la lista */
.navbar li {
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}




/* Estilo para los enlaces dentro de los elementos de la lista */
.navbar a {
    text-decoration: none;
    color: rgb(12, 151, 231);
    font-weight: bold;
    margin-right: 15px;
    transition: color 0.3s;

}

/* Cambio de color y fondo al pasar el cursor sobre los enlaces */
.navbar a:hover {
    color: #4CE4F9;
    background: #0298E2;
    border-radius: 5px;
    padding: 5px 10px;
}

